.warning-card {
  font-size: 14px;
  text-align: center;
  background: var(--ion-color-primary);
  padding: 8px 16px;
  border-radius: 6px;
  color: white;
}

.list {
  height: 100%;
  margin-top: 24px;
  ion-icon {
    font-size: 24px;
  }
  .empty-state {
    height: 100%;
    text-align: center;
    img {
      width: 200px;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 20px !important;
      margin: unset !important;
      font-weight: 700;
    }
  }
  .list-chat {
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--ion-color-outline);
    .left {
      .small {
        font-size: 12px !important;
      }
    }
    .right {
      padding-right: 10px;
    }
  }
}
